
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    padding: 30px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 15px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    margin-bottom: 60px;
    color: rgb(0, 0, 0);
}

.card {
    width: 100%;
    min-height: 180px;
    padding: 24px;
    margin-bottom: 24px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

button{
    background-color: rgb(226, 216, 216);
    width: 150px;
    height: 30px;
    border: solid 1.5px rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;    
}

input:enabled{
    background-color: rgb(245, 245, 245);
    width: 50px;
    height: 30px;
    border: solid 1.5px rgb(0, 0, 0);
    border-radius: 3px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

input:disabled{
    background-color: rgb(247, 247, 247);
    width: 50px;
    height: 30px;
    border: solid 1.5px rgb(0, 0, 0);
    border-radius: 3px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
}


